@import "tailwindcss";


:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --main: #eeeef3;
  --blk: #131213;
  --wht: #eaeaea;
  --shadow-brand: -82px 54px 27px 0px rgba(0,0,0,0.01),
  -52px 35px 25px 0px rgba(0,0,0,0.04),
  -29px 19px 21px 0px rgba(0,0,0,0.15),
  -13px 9px 16px 0px rgba(0,0,0,0.25),
  -3px 2px 9px 0px rgba(0,0,0,0.29);

  --shadow-border: 0px 2px 3px -1px rgba(0,0,0,0.1), 0px 1px 0px 0px rgba(25,28,33,0.02), 0px 0px 0px 1px rgba(25,28,33,0.08);
  --shadow-depth: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  --shadow-depth2: 0px 4px 16px rgba(17,17,26,0.1), 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 56px rgba(17,17,26,0.1);
  --shadow-depth3: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  --shadow-small: 0 3px 10px rgb(0,0,0,0.2);
  --shadow-small2: 0px 0px 0px 1px rgb(0 0 0 / 0.06),
      0px 1px 1px -0.5px rgb(0 0 0 / 0.06),
      0px 3px 3px -1.5px rgb(0 0 0 / 0.06), 
      0px 6px 6px -3px rgb(0 0 0 / 0.06),
      0px 12px 12px -6px rgb(0 0 0 / 0.06),
      0px 24px 24px -12px rgb(0 0 0 / 0.06);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

 


@theme inline {

 
 
 
  --color-main: var(--main);
  --color-background: var(--background);
  --color-blk: var(--blk);
  --color-wht: var(--wht);

  --shadow-brand: var(--shadow-brand);
  --shadow-border: var(--shadow-border);
  --shadow-depth: var(--shadow-depth);
  --shadow-depth2: var(--shadow-depth2);
  --shadow-depth3: var(--shadow-depth3);
  --shadow-small: var(--shadow-small);
  --shadow-small2: var(--shadow-small2);
  --font-heading: var(--font-sans);
  --font-sans: 'Geist Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

}


.animate-orbit {
  animation: orbit calc(var(--duration) * 1s) linear infinite;
  animation-play-state: paused;
  animation-fill-mode: both;  /* ✅ keeps last frame */
}

.animate-orbit-reverse {
  animation: orbit-reverse calc(var(--duration) * 1s) linear infinite;
  animation-play-state: paused;
  animation-fill-mode: both;
}

.group:hover .animate-orbit,
.group:hover .animate-orbit-reverse {
  animation-play-state: running;
}

.frameworkline {
  offset-anchor: 10px 0px;
  animation: frameworkline-animation-path;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.9, 0.8, 0.8, 0.9);
  animation-duration: 3.5s;
}

.framework-line {
  offset-path: path(
    "M 1 0 v 5 q 0 5 5 5 h 39 q 5 0 5 5 v 71 q 0 5 5 5 h 39 q 5 0 5 5 v 20"
  );
}

@keyframes frameworkline-animation-path {
  0% {
    offset-distance: 0%;
  }
  85% {
    offset-distance: 100%;
  }
  100% {
    offset-distance: 100%;
  }
}


@keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc(var(--angle) * -1deg));
  }
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc((var(--angle) * -1deg) - 360deg));
  }
}

@keyframes orbit-reverse {
  0% {
    transform: rotate(calc(var(--angle) * 1deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc(var(--angle) * -1deg));
  }
  100% {
    transform: rotate(calc(var(--angle) * 1deg - 360deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc((var(--angle) * -1deg) + 360deg));
  }
}